ul,li{
    list-style: none;
}
.search-head{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
}

.search-inputbox{
    margin: 10px 5px;
    background: #f1f1f1;
    border-radius: 15px;
    width: 80%;
    height: 32px;
    float: left;
    line-height: 32px;
}

.search-inputbox-input{
    /* background: #f1f1f1; */
    opacity: .3;
    border: none;
    outline: none;
    width:80%;
    padding-left: 20px;
}
.search-inputbox-icon{
    margin-top: 8px;
    margin-left: 10px;
}

.search-cancel{
    margin-right: 8px;
    text-align: center;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #477db3;
}

.search-main-title{
    font-size: 12px;
    color: #999;
    margin-top: 14px;
    padding: 0 12px;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
}

.search-main-listbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.search-main-list{
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    width: 21%;
    font-size: 12px;
    color: #333;
    border: 1px solid #ddd;
    text-align: center;
    margin: 5px;
}

.search-main-hotitem{
    border-color: #cc3d3d;
    color: #cc3d3d;
}

.search-main-listclick{
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    width: 21%;
    font-size: 12px;
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    margin: 5px;
    background: #333;
}

.search-main-hotitemclick{
    border-color: #cc3d3d;
    background:#cc3d3d;
    color: #ccc;
}