.W_title {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    max-width: 640px;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.W_title .wb_back {
    position: absolute;
    left: 0;
    z-index: 2;
}

.W_title ul li {
    display: block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #444;
}

.icon-d-back02 {
    display: block;
    /* background-image: url(../assets/d.png); */
    background-position: -99px -131.5px;
    background-size: 330.5px;
    width: 44px;
    height: 44px;
}

.W_title ul li.wb_title {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    margin-left: 0;
}
/*注册内容样式*/

.W_content .phone {
    margin-top: 22px;
    height: 44px;
    background: #fff;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    color: #ccc;
}

.W_content .phone input,
.W_content .phone span {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 2.6%;
    outline: 0;
}

.W_content .none {
    margin-top: 0;
}

.W_content .phone input,
.W_content .phone span {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 2.6%;
    outline: 0;
}

.W_content p.word {
    font-size: 12px;
    padding-left: 2.6%;
    margin: 20px 0;
}

.W_content p.word a {
    color: #e60000;
}

.W_content .nextBtn.on {
    background: #e60000;
}

.W_content .nextBtn {
    height: 44px;
    background: #ccc;
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    color: #fff;
}

.W_content .kf {
    padding-left: 2.6%;
    font-size: 12px;
    color: #9e9e9e;
    margin-top: 18px;
}

.W_content .kf a {
    color: #707070;
    text-decoration: underline;
}
/*错误提示*/

.mui-popup.mui-popup-in {
    display: none;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
    transform: translate3d(-50%, -50%, 0) scale(1);
    /*opacity: 1;*/
}

.mui-popup {
    position: fixed;
    z-index: 1000000;
    top: 50%;
    left: 50%;
    display: none;
    overflow: hidden;
    width: 270px;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
    transform: translate3d(-50%, -50%, 0) scale(1.185);
    text-align: center;
    /*opacity: 0;*/
    color: #000;
    border-radius: 13px;
}

.mui-popup-inner {
    position: relative;
    padding: 15px;
    border-radius: 13px 13px 0 0;
    background: rgba(255, 255, 255, .95);
}

.mui-popup-title {
    font-style: "微软雅黑";
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.mui-popup-title+.mui-popup-text {
    font-family: inherit;
    font-size: 14px;
}

.mui-popup-inner:after {
    position: absolute;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    background-color: rgba(0, 0, 0, .2);
}

.mui-popup-buttons {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 44px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.mui-popup-button:first-child {
    border-radius: 0 0 0 13px;
}

.mui-popup-button.mui-popup-button-bold {
    font-weight: 600;
}

.mui-popup-button:last-child {
    border-radius: 0 0 13px 0;
}

.mui-popup-button {
    font-size: 17px;
    line-height: 44px;
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0 5px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #007aff;
    background: rgba(255, 255, 255, .95);
    -webkit-box-flex: 1;
}