*{margin:0;padding:0;}
	.W-cart-head {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}
	
	.W_title {
		position: relative;
		width: 100%;
		height: 44px;
		line-height: 44px;
		max-width: 640px;
		margin: 0 auto;
		background: #fff;
		border-bottom: 1px solid #ddd;
	}
	
	ul {
        overflow: hidden;
        /* position: relative; */
        list-style: none;
        width: 100%;
	}
	
	.W_title ul li.wb_title {
		position: absolute;
		top: 0;
		text-align: center;
		width: 100%;
		z-index: 1;
		margin-left: 0;
	}
	
	.W_title ul li {
		display: block;
		width: 44px;
		height: 44px;
		line-height: 44px;
		font-size: 16px;
		color: #444;
	}
	
	header .W_title .rewrite_right {
		right: 12px;
		font-size: 12px;
		width: auto;
	}
	
	.W_title .rewrite_right,
	.W_title .wb_more,
	.W_title .wb_right {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}
	
	.W_title .rewrite_right a {
		display: block;
	}
	
	a {
		text-decoration: none;
		outline: 0;
		color: #666;
		border: none;
	}
	
	.h {
		display: none;
	}
	
	.clearfix:after {
		content: "";
		display: block;
		clear: both;
	}
	
	.W-cart-head .login-tips {
		font-size: 12px;
		line-height: 28px;
		text-align: center;
		height: 28px;
		max-width: 640px;
		margin: 0 auto;
		background-color: #fff9ce;
	}
	
	.W-cart-head .login-tips a {
		color: #5781b4;
	}
	/*购物车*/
	
	main {
		display: block;
		position: relative;
		overflow: hidden!important;
		width: 100%;
		max-width: 640px;
	}
	
	.shopping {
		padding-top: 50px;
	}
	/*空购物车时候的页面css*/
	
	.W-cart.paddingTop80 {
		padding-top: 60px;
	}
	
	.W-cart {
		padding-bottom: 130px;
	}
	
	.W-cart .empty-status {
		padding-top: 43px;
		text-align: center;
	}
	
	.h {
		display: none!important;
	}
	
	.W-cart .empty-status .icon {
		margin: 0 auto;
	}
	
	.icon-a-empty-cart {
		display: block;
		background-image: url(/assets/a.png);
		background-position: -89px -89px;
		background-size: 443px;
		width: 82px;
		height: 84px;
	}
	
	.W-cart .empty-status>p {
		font-size: 14px;
		line-height: 20px;
		padding-top: 16px;
	}
	
	.W-cart .empty-status>p {
		font-size: 14px;
		line-height: 20px;
		padding-top: 16px;
	}
	
	.W-cart .empty-status .btns-wrap {
		margin-top: 60px;
		text-align: center;
	}
	
	.W-cart .empty-status .btns-wrap .btns:first-child {
		margin-right: 18px;
		background-color: #d90000;
		color: #fff;
	}
	
	.W-cart .empty-status .btns-wrap .btns {
		display: inline-block;
		width: 100px;
		height: 32px;
		line-height: 32px;
		border: 1px solid #d90000;
		color: #d90000;
		font-size: 12px;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		border-radius: 16px;
	}
	
	.W-cart .empty-status .btns-wrap .btns:first-child a {
		color: #fff;
	}
	
	.W-cart .empty-status .btns-wrap .btns a {
		color: #d90000;
	}
	
	.wb_back {
		position: absolute;
		left: 0;
		z-index: 2;
	}
	
	.W_title ul li {
		display: block;
		width: 44px;
		height: 44px;
		line-height: 44px;
		font-size: 16px;
		color: #444;
	}
	
	.icon-d-back02 {
		display: block;
		background-image: url(/assets/d.png);
		background-position: -196px -186.5px;
		background-size: 428.5px;
		width: 44px;
		height: 44px;
    }
    
    .shopping{clear:both;overflow:hidden;height:auto;padding-bottom: 100px;}
.shop-group-item{margin-bottom:5px;margin-top: 10px;}
.shop-group-item ul li{border-bottom:1px solid #fff;}
.shop-group-item ul li:last-child{border-bottom:none;}

.shop-name{background:#fff;height:35px;line-height:35px;padding:0 15px;position:relative;}
.shop-name h4{float:left;font-size:14px;background:url(/assets/icon-kin.png) no-repeat left center;background-size:20px 20px;padding-left:25px;margin-left: 28px;}
.shop-name .coupons{float:right;}
.shop-name .coupons span{display:inline-block;padding:0 5px;}
.shop-name .coupons em{color:#e0e0e0;}

.shop-info{background:#f5f5f5;height:140px;padding:0 15px;position:relative;}
.shop-info .checkbox{background:url(/assets/icon_radio3.png) no-repeat left center;background-size:20px 20px;position:absolute;top:50%;left:15px;margin-top:-60px;width:20px;height:120px;}
.shop-info .checkbox1{background:url(/assets/icon_radio4.png) no-repeat left center;background-size:20px 20px;position:absolute;top:50%;left:15px;margin-top:-60px;width:20px;height:120px;}
.shop-info .shop-info-img{position:absolute;top:15px;left:45px;width:90px;height:90px;}
.shop-info .shop-info-img img{width:100%;height:100%;}
.shop-info .shop-info-text{margin-left:130px;padding:15px 0;}
.shop-info .shop-info-text h4{font-size:14px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow: hidden;}
.shop-info .shop-info-text .shop-brief{height:25px;line-height:25px;font-size:12px;color:#81838e;white-space:nowrap;}
.shop-info .shop-info-text .shop-brief span{display:inline-block;margin-right:8px;}
.shop-info .shop-info-text .shop-price{height:24px;line-height:24px;position:relative;}
.shop-info .shop-info-text .shop-price .shop-pices {color:red;font-size:16px;}
.shop-info .shop-info-text .shop-arithmetic{position:absolute;right:0px;top:0;width:84px;box-sizing:border-box;white-space:nowrap;height:100%;border:1px solid #e0e0e0;}
.shop-info .shop-info-text .shop-arithmetic a{display:inline-block;width:23px;height:22px;line-height:22px;text-align:center;background:#fff;font-size:16px;}
.shop-info .shop-info-text .shop-arithmetic .minus{border-right:1px solid #e0e0e0;}
.shop-info .shop-info-text .shop-arithmetic .failed{color:#d1d1d1;}
.shop-info .shop-info-text .shop-arithmetic .plus{border-left:1px solid #e0e0e0;}
.shop-info .shop-info-text .shop-arithmetic .num{width:32px;text-align:center;border:none;display: inline-block;height:100%;box-sizing:border-box;vertical-align:top;margin:0 -6px;}
.shopPrice{background:#fff;height:35px;line-height:35px;padding:0 15px;text-align:right;}
.shopPrice span{color:#f00;}




.payment-bar{clear:both;overflow:hidden;width:100%;height:49px;position:fixed;bottom:50px;border-top:1px solid #e0e0e0;background:#fff;}
.payment-bar .all-checkbox{float:left;line-height:49px;padding-left:40px;}
.payment-bar .shop-total{float:left;-webkit-box-flex:1.0;box-flex:1.0;margin:9px 20px 9px 35px;}
.payment-bar .shop-total strong{display:block;font-size:16px;}
.payment-bar .shop-total span{display:block;font-size:12px;}
.payment-bar .settlement{display:inline-block;float:right;width:90px;height:49px;line-height:49px;text-align:center;color:#fff;font-size:16px;background:#f23030;}