
.nhnav-listbox{
    display: flex;
    overflow-x: auto;
    height: 44px;
    padding: 0;
}
.nhnav-list{
    flex: none;  
    width: 75px;
    height: 44px;
    line-height: 44px;
}

.nhnav-list-title{
    text-align: center;
    font-size: 13px;
    color: #333;
    font-weight: 700;
}
.nhnav-list-current{
    color: #d1af67;
    font-size: 13px;
}