.nhn-box{
    margin-bottom: 50px;
}
.nhn-disbox{
    background: #262626;
    padding: 14px 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    height: 50px;
}
.nhn-dislist{
    padding: 20px 15px 15px 15px;
    border-bottom: 3px solid #f2f2f2;
}
.nhn-dislist-head{
    height:20px ;
}
.nhn-dislist-type{
    border: 1px solid #d1af67;
    border-radius: 3px;
    font-size: 12px;
    color: #d1af67;
    height: 18px;
    text-align: center;
    line-height: 18px;
    padding: 0 5px;
    float: left;
}
.nhn-dislist-date{
    font-size: 10px;
    color: #999;
    line-height: 20px;
    margin-left: 12px;
    float: left;
}
.nhn-dislist-main{
    font-size: 16px;
    color: #666;
    line-height: 28px;
    margin-top: 13px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.nhn-dislist-content{
    color: rgb(51,51,51);
}
.nhn-dislist-discribe{
    color: rgb(51,51,51);
}
.nhn-dislist-img{
    background: #d8d8d8;
    border-radius: 3px;
    width: 100%;
    border: none;
    margin-top: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid #f2f2f2;
}
.nhn-dislist-foot{
    margin-top: 15px;
}
.nhn-dislist-talk{
    width: 50%;
    float: left;
    text-align: center;
}
.nhn-dislist-icon{
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    margin-left: 3.2rem;
}
.nhn-dislist-ttitle{
    font-size: 12px;
    color: #666;
    line-height: 18px;
    margin-left: 10px;
}