.nhr-imgbox{
    border-bottom: 1px solid #f1f1f1;
    height: 135px;
    padding: 15px;
}
.nhr-img-list{
    width:50%;
    text-align: center;
    float: left;
    position: relative;
}
.nhr-type{
    top: 0;
    left:11px;
    position: absolute;
    background:#6c6c6c;
    border-radius: 3px;
    font-size: 12px;
    color: #d1af67;
    text-align: center;
    width: 44px;
    height: 18px;
}
.nhr-classroom{
    position: absolute;
    bottom: 31px;
    right: 12px;
    font-size: 12px;
    color: #fff;
}
.nhr-img{
    width: 95%;
    border-radius: 5px;
}
.nhr-title{
    font-size: 12px;
    line-height: 12px;
    color: #333;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
