// body{ padding-bottom:60px;}

.foot{
    position:fixed; left:0px; bottom:0px; width:100%; height:40px; background-color:#fff; z-index:9999;
}
.ant-radio-group{width: 100%;height:100%;label{width: 20%;height: 100%;padding:0;text-align: center}}